<div fxLayout="column">
    <div>
        <h1>Heroes search</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
      <h2>Search</h2>
        <mat-form-field>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [(ngModel)] = "termino"
                   [matAutocomplete]="auto"
                   (input)="searching()">
            <mat-autocomplete autoActiveFirstOption
                              #auto="matAutocomplete"
                              (optionSelected)="selectedOption( $event )">
              <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                {{ heroe.superhero }}
              </mat-option>
              <mat-option value="" *ngIf="!heroes.length && termino.trim().length > 0">
                No se encontró el heroe
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
    <div>
        {{selectedHeroe | json}}
    </div>

</div>