<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">

        <mat-toolbar color="primary">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>

            <a routerLink="./list" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>view_list</mat-icon>
                Heroes list
            </a>

            <a routerLink="./add" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add_box</mat-icon>
                Add heroe
            </a>

            <a routerLink="./serch" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>pageview</mat-icon>
                Search heroe
            </a>

        </mat-nav-list>
    </mat-sidenav>



    <mat-toolbar>
        <div class="sidenav-container">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <span class="spacer"></span>

            <button mat-icon-button>
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>




    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>